.header {
    height:60px;
    display:flex;
    align-items: center;
    background-color:rgb(13, 19, 21);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    position: relative; 
    /* bottom: 10px; */
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 24px 0 0 10px;
}

.header__searchInput:focus{
    outline: none;
}

.header__searchIcon{
    padding: 7px;
    height: 18px !important;
    border-radius: 0 24px 50px 0;
    background-color: rgb(218, 151, 27);
}

.header__nav{
    display:flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
    font-size: 15px;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.header__optionLineTwo{
    font-size: 15px;
    font-weight: 800;
}

.header__basketCount{
    display:flex;
    align-items: center;
    color:rgb(218, 151, 27);
    z-index: 2;
    margin-right: 10px;
}   