.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    background-color: rgba(230, 218, 218, 0.467);
    z-index: 1;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button{
    background: rgb(218, 187, 16);
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(255, 145, 0) rgb(128, 102, 0) rgb(255, 174, 0);
    color: rgb(0, 0, 0);
}

.product__price{
    margin-top: 5px;
} 

.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__rating{
    display: flex;
}